extends /layouts/main

block content
  .dark-wrapper
    .ids__wrapper-center  

      .ids__stack.L
      h1 Error 404
      h2.contact Page not found
      .ids__stack.L
      h3.contact 
        a(href="/") Go to main page 


