extends /layouts/main.pug

block meta
  +meta(title="About our services and our team", description="We hate bad branding, so we have to do good.", og-image="/images/og.png")




block content





  .ids__wrapper.ids__full-width-wanna
    section 
      // ссылка на заглавную картинку (первый блок на экране): просто поменять ссылку в скобках, кавычки не удаляем
      .cover_articles_mobile(style='background-image:url("/images/logo_3d.png")')
      .cover_articles(style='background-image:url("/images/logo_3d.png")')

      //.cover_articles
        // ссылка на заглавное видео (первый блок на экране)
        video.cover(autoplay='autoplay', loop='loop', muted='muted', preload='preload')
          source(src="https://assets.reebok.com/videos/q_auto,f_auto,g_auto/ad452f7bd78d49a19cd4aba301428ce4_d98c/Reebok_Nano_X_Shoes_Black_EH3094_video.mp4")




      .cover-text
        // заглавная надпись на первом экране
        h1.cover Pocket Rocket is an&nbsp;innovative branding&nbsp;agency. We help businesses grow up to&nbsp;an&nbsp;extra 30%&nbsp;a&nbsp;year.
      .dark-wrapper
        .ids__wrapper-center  
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell-big

              
              // подпись к карточке под логотипом партнера
              h2 We are a&nbsp;diverse team of&nbsp;thinkers &&nbsp;doers.
              .ids__stack.S
              h3 We develop strategies, design identities and launch brands in&nbsp;IT, Fashion Tech, Telecom, Transport &&nbsp;Retail.


            .ids__grid-cell-small
                      #slideshow
                        .slide
                          img(src="/images/Lizaveta.png")
                        .slide 
                          img(src="/images/Denis.png")
                        .slide
                          img(src="/images/Darina.png")
                        .slide
                          img(src="/images/MarinaB.png")
                        .slide
                          img(src="/images/Oleg.png")
                        .slide
                          img(src="/images/Yuli.png")
                        .slide
                          img(src="/images/Anya.png")                          
                        .slide
                          img(src="/images/Mikita.png")
                        .slide
                          img(src="/images/Karyna.png")
                        .slide  
                          img(src="/images/Ola.png")
                        .slide  
                          img(src="/images/Misha.png")
                        .slide  
                          img(src="/images/MarinaR.png")
                        .slide  
                          img(src="/images/Kris.png")
                        .slide  
                          img(src="/images/Alice.png")
                        .slide  
                          img(src="/images/Alina.png")
                        .slide  
                          img(src="/images/Kate.png")
                        .slide  
                          img(src="/images/Ira.png")                          



          .ids__stack.M
          .grid_headings
            .ids__grid-cell-awards
              h1.landing Our services
            .ids__grid-cell-small


                    h1 Brand Strategy Development

                    ul
                      li Market Research & Benchmarking
                      li Business & Product Research
                      li Brand Value Proposition
                      li Interviews (15+)
                      li Strategic Session
                      li Brand Platform & Strategy
                      li Communication Platform
                      li Design Session
                      li Employer Brand Strategy
                      li Focus Groups
                      li Brand Architecture
                    .divider



                    h1 Brand Development

                    ul  
                      li Logo Design
                      li Visual Identity
                      li Design System
                      li Typography, Imagery, Motion
                      li Guidelines &&nbsp;Brandbook
                      li Brand Implementation
                      li Naming
                    .divider



                    h1 Employer Brand Development



                    ul  
                      li Employer brand strategy
                      li Culture, EVP and&nbsp;employee experience
                      li Onboarding Toolkits
                    .divider  

   
                    h1 Brand Launch &&nbsp;Support



                    ul  
                      li New Brand Pitch Engaging & Onboarding Teams
                      li Draft Launch Strategy
                      li Art-direction
                      li Communication Design
                      li Motion & Film
                      li Digital product design
                      li Event design
                      li Environmental and retail design
          .ids__stack.M
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell-awards
                  h1.landing Awards
                  h3 We’ve got several Oscars of&nbsp;design world

            .ids__grid-cell-small


                      a(href="https://www.red-dot.org")  
                        h3 Red Dot Design Awards 2021
                      p Wanna, ItRex
                      p Branding – Winner
                      .divider
                      a(href="https://oneshow.org/")   
                        h3 The One Show 2021
                      p Wanna
                      p Branding – Merit
                      .divider

                      a(href="https://www.effie.org/")
                        h3 Effie 2021
                      p Generation Z
                      p Project – Special Prize
                      .divider

                      a(href="https://adfest.by/en")
                        h3 White Square 2021
                      p Wanna
                      p Branding – Bronze
                      .divider

                      a(href="https://creative-stories.com.ua/")
                        h3 KIAF 2021
                      p Wanna, ItRex
                      p Branding – Silver, Branding – Shortlist
                      .divider


                      a(href="https://www.canneslions.com/enter/young-lions-competitions")
                        h3 Young Cannes Lions
                      p No silence for violence
                      p Design – Gold
                      .divider

                      a(href="https://festival.ru/") 
                        h3 Red Apple Awards
                      p Wanna, ItRex
                      p Branding – Bronze, Branding – Silver
          .ids__stack.M
          h2 Trusted by industry icons and&nbsp;young startups:
          include /partials/logos.pug

         

          .ids__stack.M
          .ids__stack.M
          .aboutquote
            h2.landing We&nbsp;build
              span.test brave 
              br
              span brands&nbsp;with purpose, 
              br
              span which people&nbsp;
              span.test1 love&nbsp;
              br
              span and&nbsp;connect to.

              .ids__stack.XS
              #slideshow2
                .slide-photo
                  img(src="/images/1.png")
                .slide-photo
                  img(src="/images/2.png")
                .slide-photo
                  img(src="/images/3.png")
                .slide-photo
                  img(src="/images/4.png")
                .slide-photo
                  img(src="/images/5.png")
                .slide-photo
                  img(src="/images/6.png")
                .slide-photo
                  img(src="/images/7.png")
                .slide-photo
                  img(src="/images/8.png")   
                .slide-photo
                  img(src="/images/9.png")    
                .slide-photo
                  img(src="/images/10.png")   
                .slide-photo
                  img(src="/images/11.png")   
                                                                                            

              .ids__stack.XS
              h1 And this is how we do it:

              //span в&nbsp;сфере рекламы 
          .ids__grid.M.ids__grid-inset-L
            .ids__grid-cell
              figure.XS
                img(src="/images/briefing.svg")
              h2 Briefing
              h5 Debrief, Set goals. Define Agency Task, Timing & Budget
            .ids__grid-cell
              figure.XS
                img(src="/images/research.svg")
              h2 Research
              h5 Research Market, Competitors, Clients, Employees, Business Processes to understand real environment
            .ids__grid-cell
              figure.XS
                img(src="/images/strategy.svg")
              h2 Strategy
              h5 Develop Brand Essence, Brand Strategy and it's details
            .ids__grid-cell
              figure.XS
                img(src="/images/design.svg")
              h2 Design
              h5 Develop visual & verbal communication
            .ids__grid-cell
              figure.XS
                img(src="/images/engagement.svg")
              h2 Engagement
              h5 Engage & consult teams, deliver guides, support &&nbsp;art-direct
              

      include /partials/footer_design_review.pug

