extends /layouts/main.pug

block meta
  +meta(title="Contact", description="Let's talk", og-image="/images/og.png")

block content
  .ids__wrapper.ids__full-width-wanna
    section 
    .ids__wrapper-center  
        .dark-wrapper
            .ids__stack.L

            .ids__stack.XS   
            .ids__grid.M.ids__grid-inset-L
                .grid-cell
                    h1 Let's talk 
                        br
                        span about your project
                    h3.contact We're open to work
                        br
                        span Fill out the form or email&nbsp;us&nbsp;at
                        br
                        span dareen@pocketrocket.agency

                .grid-cell-big
  
                    form(action="https://fabform.io/f/ST85raa", method="post") 
                        h3.contact Your name
                            input(type="text", placeholder='John Doe', name="name")
                        h3.contact Email    
                            <label for="email">Your Email</label>
                            input(type="email", placeholder='example@mail.com', name="email")
                        h3.contact Message    
                            textarea(type="text", placeholder='Tell us about your project', name="message")
                        button(type="submit") Submit form
        .ids__stack.XS
    include /partials/footer_contact.pug
