extends /layouts/main.pug

block meta
  +meta(title="Pocket Rocket", description="Innovative Branding Agency", og-image="/images/og.png")
  
    
block content
  .ids__wrapper.ids__full-width-wanna
    section 
      // ссылка на заглавную картинку (первый блок на экране): просто поменять ссылку в скобках, кавычки не удаляем
      //.cover_articles_mobile(style='background-image:url("/images/logo_3d.png")')
      .cover_articles(style='background-image:url("https://static.tildacdn.com/tild6664-6637-4131-b537-656563336665/main.gif")')

      //.cover_articles
        // ссылка на заглавное видео (первый блок на экране)
        video.cover(autoplay='autoplay', loop='loop', muted='muted', preload='preload')
          source(src="https://assets.reebok.com/videos/q_auto,f_auto,g_auto/ad452f7bd78d49a19cd4aba301428ce4_d98c/Reebok_Nano_X_Shoes_Black_EH3094_video.mp4")
        




      .cover-text
        // заглавная надпись на первом экране
        h1.landing We Elonmusk 
          br
          span your business
    .dark-wrapper
      .ids__wrapper-center    
        
        
        a.case(href="/wanna")
          .cover_incase(style='background-image:url("/images/wanna_cover.png")')
            video.cases.main(autoplay='autoplay', loop='loop', muted='muted', preload='preload')
                source(src="https://dl.dropboxusercontent.com/s/8shbjarijo6pb98/wanna_site_cover2.mp4?dl=0")
          h3.cover Wanna. Welcome to Arketing era


          a.case(href="https://pocketrocket.agency/itrex")
            .cover_incase.main(style='background-image:url("/images/itrex_cover.png")')
              video.cases(autoplay='autoplay', loop='loop', muted='muted', preload='preload')
                source(src="https://dl.dropboxusercontent.com/s/zl1m8pzb3j5sv83/Draft_preview_2.mp4?dl=0")
            h3.cover Itrex. Redefining IT for&nbsp;2020s


        a.case(href="https://pocketrocket.agency/allur")
          .cover_incase.main(style='background-image:url("/images/allur_cover.png")')
            video.cases(autoplay='autoplay', loop='loop', muted='muted', preload='preload')
              source(src="https://dl.dropboxusercontent.com/s/o8bzuhvrv2fip1a/render_anya_upd.mp4?dl=0")
          h3.cover Allur. New identity for&nbsp;an&nbsp;automotive giant


        a.case(href="https://pocketrocket.agency/gruzin")
          .cover_incase.main(style='background-image:url("/images/gruzin_cover.png")')
            video.cases(autoplay='autoplay', loop='loop', muted='muted', preload='preload')
              source(src="https://dl.dropboxusercontent.com/s/5ol89vhtwh3cjdf/1_1.mp4?dl=0")
          h3.cover Gruzin. Restart of&nbsp;Georgian fastfood


    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "7ead89d3619b4cc4aaeb29d203f57d55"}'></script><!-- End Cloudflare Web Analytics -->
          
    include /partials/footer_design_review.pug
