extends /layouts/main.pug

block meta
  +meta(title="Hot News", description="Album", og-image="/images/1_cover.png")
  
block content
  .ids__wrapper.ids__shift-right
    section 
      .ids__stack.S
      .ids__label.ids__label-outline Скандал
      .ids__label.ids__label-outline Слив
      .ids__label.ids__label-outline Шоу-бизнес
      .ids__stack.S
      
      img(src="images/1_cover.png")
      .ids__stack.S
     
      h1 В сеть слили новый альбом Misha Gorgodze & Oleg Lekhnitsky 
      p Неизвестные слили в сеть новый альбом Misha Gorgodze & Oleg Lekhnitsky — Бесконечный
      p Как сообщил редакции представитель артистов — релиз планировался на конец июля, но в студию проник посторонний и украл компьютер с записями, а также две бутылки швепса.
      p Музыканты не унывают. В запасе есть много нового материала, а о факте кражи уже сообщено кому следует. 
      
      p.ids__lead  Публикуем все слитые записи с разрешения авторов.
      //aside 
        p 
      //h1.landing Новый альбом уже в сети
      fig
      

      .ids__stack.S
      figure.S
        img.album(src="images/3_cover.png")
      <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1463464969&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"> </div>        
      //button Let's talk
      //.ids__stack.S 