extends /layouts/main.pug

block meta
  +meta(title="Hot News", description="Album", og-image="/images/1_cover.png")
  
block content
  .ids__wrapper.ids__full-width-wanna
    section
      .dark-wrapper
        .ids__wrapper-center 
          .grid-wanna
            .wannagridsell.item1(style='background-image:url("https://static.tildacdn.com/tild3632-6332-4664-a133-376233623032/d13a7290-c74c-11ea-8.jpg")')
              a(href="") 
                .gradient
                  h2 Gucci
                  p Digital Sneaker Try-On in the Gucci app
            .wannagridsell.item2(style='background-image:url("https://static.tildacdn.com/tild6466-3964-4432-b838-633530343662/3a06e61eecfc-942a-be.jpg")')
              a(href="") 
                .gradient
                  h2 GOAT
                  p Increase in-app engagement      
            .wannagridsell.item3(style='background-image:url("https://static.tildacdn.com/tild6364-3766-4130-b131-653434623133/004_lamoda.jpg")') 
              a(href="") 
                .gradient
                  h2 lamoda
                  p Differentiate Lamoda app from competitors               
            .wannagridsell.item4(style='background-image:url("https://static.tildacdn.com/tild3835-6466-4561-a133-663562323230/99af717d-3979-4695-9.jpg")')
              a(href="") 
                .gradient
                  h2 Reebok
                  p New product activation in COVID-era         
            .wannagridsell.item5(style='background-image:url("https://static.tildacdn.com/tild3464-3739-4136-a663-336464376261/noroot.png")')
              a(href="") 
                .gradient
                  h2 Snapchat
                  p  Shoppable AR in Snapchat
            .wannagridsell.item6(style='background-image:url("https://static.tildacdn.com/tild3436-3661-4535-a334-643462656439/EP8qe9QXkAIxi_v.jpeg")') 
              a(href="") 
                .gradient
                  h2 Grailify
                  p Lower User Acquisition cost         
            .wannagridsell.item7(style='background-image:url("https://static.tildacdn.com/tild6266-3735-4661-a161-393365323136/_.jpeg")') 
              a(href="") 
                .gradient
                  h2 The Iconic
                  p Improve return rates
            .wannagridsell.item8(style='background-image:url("https://static.tildacdn.com/tild6531-6361-4132-a532-666533616663/Lotte20Andersen20-20.jpg")') 
              a(href="") 
                .gradient
                  h2 FARFETCH
                  p Position FARFETCH as technological leader in luxury fashion      
            .wannagridsell.item9(style='background-image:url("https://static.tildacdn.com/tild6230-3739-4166-a330-353034643434/5e388be05bc79c1d6978.jpeg")') 
              a(href="") 
                .gradient
                  h2 Allbirds
                  p Create excitement around launch of Allbirds App
          .grid-wanna-one-image
            .wannagridsell.item10(style='background-image:url("https://static.tildacdn.com/tild6230-3739-4166-a330-353034643434/5e388be05bc79c1d6978.jpeg")') 
              a(href="") 
                .gradient
                  h2 Allbirds
                  p Create excitement around launch of Allbirds App