extends /layouts/main

block content
  .dark-wrapper
    .ids__wrapper-center  

      .ids__stack.L
      h1 Thanks for submitting!
      h2.contact We will contact you soon
      .ids__stack.L
      h3.contact 
        a(href="/") Go to main page


