extends /layouts/main

block content
  .dark-wrapper
    .ids__wrapper-center  

      .ids__stack.L
      .ids__text
        h1 Thanks for submitting!
      .grid_headings
        .ids__grid-cell-big
          h2.contact We will contact you soon, let's keep in touch in social media as well 

      .social-icons
        .nav-item
          a(href="https://www.behance.net/pocketrocketagency")
            img(src="/images/behance.svg", alt="behance icon", srcset="")
        .nav-item
          a(href="https://www.instagram.com/pocketrocket_agency/")
            img(src="/images/inst.svg", alt="instagram icon", srcset="")
        .nav-item
          a(href="https://www.linkedin.com/company/pocket-rocket-poland/")
            img(src="/images/linkedin.svg", alt="linkedin icon", srcset="")
      .ids__stack.L



