footer
  .ids__wrapper.ids__full-width
      .desktop-header
        .logo
          +a.awakeness.sleep(href="/")
            .logo-icon
              
            .logo-text MISHA GORGODZE
              
            //- .logo-box
              img(src="/images/i.svg")
              p VOCALLS

        .nav
          include /partials/nav-links-review
