footer
  .dark-wrapper
    .ids__wrapper-center 
        .ids__stack.L
        .contact-button
            
            .ids__grid.XXL.ids__grid-inset-S
              .ids__grid-cell-small-contact
                  h3 Have a project in mind?
                    
              .ids__grid-cell-big-contact
                a(href="/contact")
                  .contact-bg
                    H2 Drop us a line
        .ids__stack.M
        h3 Have a question or need a consultation? 
        h2 
          a(href="/design-system") Click here 
          span to chat with our manager directly in LinkedIn, 
          br
          span they reply on weekdays.

  .ids__wrapper.ids__full-width
    .ids__stack.S
    .desktop-header
      p © 2022 PRA
      .nav




            .nav-item
              +a(href="/about")
                span Behance

            .nav-item
              +a(href="/about")
                span Linkedin

            .nav-item
              +a(href="/about")
                span Instagram


            .nav-item
              +a(href="/about")
                span Careers
              
            

      
    
        
        
      
    .ids__stack.S
      //p sdkf g 
 
