footer
  .dark-wrapper
    .ids__wrapper-center 
        .ids__stack.L

        .ids__grid-cell-small-contact
                  h3 Have a project in mind?
        .contact-button
            

                    
              .ids__grid-cell-big-contact
                a(href="/contact")
                  .contact-bg
                    H2 Drop us a line
        .ids__stack.M
        h3 Have a question or need a consultation? 
        h2 
          a(href="/design-system") Click here 
          span to chat with our manager directly in LinkedIn, 
          br
          span they reply on weekdays.

  .ids__wrapper.ids__full-width
    .ids__stack.S
    .desktop-header
      p © 2022 PRA
      .nav




            .nav-item
              +a(href="https://www.behance.net/pocketrocketagency")
                span Behance



            .nav-item
              +a(href="https://www.instagram.com/pocketrocket_agency/")
                span Instagram
                
            .nav-item
              +a(href="https://www.linkedin.com/company/pocket-rocket-poland/")
                span Linkedin

            .nav-item
              +a(href="https://pocketrocket.notion.site/Pocket-Rocket-Agency-Vacancies-4db38b7b4be54693a309336dc4cd768e")
                span Careers
              
            

      
    
        
        
      
    .ids__stack.S
      //p sdkf g 
 
