footer
  .dark-wrapper
    .ids__wrapper-center 

        h3 Have a question or need a consultation? 
        h2 
          a(href="/design-system") Click here 
          span to chat with our manager directly in LinkedIn, 
          br
          span they reply on weekdays.

  .ids__wrapper.ids__full-width
    .ids__stack.S
    .desktop-header
      p © 2022 PRA
      .nav



            .nav-item
              +a(href="/about")
                span Behance

            .nav-item
              +a(href="/about")
                span Linkedin

            .nav-item
              +a(href="/about")
                span Instagram

            .nav-item
              +a(href="/about")
                span Carreers

              
            

      
    
        
        
      
    .ids__stack.S
      //p sdkf g 
 
