include /mixins/a 

header
  .ids__wrapper.ids__full-width
    .desktop-header
      .logo
        +a.awakeness.sleep(href="/")
          .logo-icon
            img(src="/images/logo-icon.svg")
            
          .logo-text pocket rocket
            
          //- .logo-box
            img(src="/images/i.svg")
            p VOCALLS

      .nav
        include /partials/nav-links-review

      .mobile-nav
      

            
          
        

        .burger-icon(href="#") =
        .mobile-nav-sidebar
          .close-icon(href="#") ×
          include /partials/nav-links-review.pug
        
          //.nav-item
            +a(href="https://app.swaggerhub.com/apis-docs/VocallsInc/Vocalls/1.0.3" target="_blank") API
          //.nav-item
            +a(href="/cookies") Cookies
          //.nav-item
            +a(href="/privacy-policy") Privacy Policy

          .mobile-sidebar-copywrite 
            .nav-item
              +a(href="https://www.behance.net/pocketrocketagency")
                img(src="/images/behance.svg", alt="behance icon", srcset="")
            .nav-item
              +a(href="https://www.instagram.com/pocketrocket_agency/")
                img(src="/images/inst.svg", alt="instagram icon", srcset="")
            .nav-item
              +a(href="https://www.linkedin.com/company/pocket-rocket-poland/")
                img(src="/images/linkedin.svg", alt="linkedin icon", srcset="")

            .nav-item
              +a(href="https://pocketrocket.notion.site/Pocket-Rocket-Agency-Vacancies-4db38b7b4be54693a309336dc4cd768e")
                img(src="/images/careers.svg", alt="careers icon", srcset="")                
            .nav-item

            .ids__stack.M
            p © 2022 PRA
