include /mixins/a 

header
  .ids__wrapper.ids__full-width
    .desktop-header
      .logo
        +a.awakeness.sleep(href="/")
          .logo-icon
            img(src="/images/logo-icon.svg")
            
          .logo-text pocket rocket
            
          //- .logo-box
            img(src="/images/i.svg")
            p VOCALLS

      .nav
        include /partials/nav-links-review

      .mobile-nav
      

            
          
        

        .burger-icon(href="#") =
        .mobile-nav-sidebar
          .close-icon(href="#") ×
          include /partials/nav-links-review.pug
        
          //.nav-item
            +a(href="https://app.swaggerhub.com/apis-docs/VocallsInc/Vocalls/1.0.3" target="_blank") API
          //.nav-item
            +a(href="/cookies") Cookies
          //.nav-item
            +a(href="/privacy-policy") Privacy Policy

          .mobile-sidebar-copywrite 
            p © 2022 PRA
