<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>


<div class="container">
   <section class="customer-logos slider">
    a(href="http://google.com") 
        <div class="slide"><img src="./images/logo_google.svg"></div>
    a(href="https://www.samsung.com") 
        <div class="slide"><img src="./images/logo_samsung.svg"></div>
    a(href="https://www.uber.com/ee/en/") 
        <div class="slide"><img src="./images/logo_uber.svg"></div>
    a(href="https://www.jbl.com")  
        <div class="slide"><img src="./images/logo_jbl.svg"></div>
    a(href="https://www.epam.com") 
        <div class="slide"><img src="./images/logo_epam.svg"></div>
    a(href="http://google.com") 
        <div class="slide"><img src="./images/logo_havanaclub.png"></div>
    a(href="http://google.com") 
        <div class="slide"><img src="./images/logo_hennessy.svg"></div>
    a(href="https://www.nyxcosmetics.com") 
        <div class="slide"><img src="./images/logo_nyx.svg"></div>
    a(href="https://allur.kz") 
        <div class="slide"><img src="./images/logo_allur.svg"></div>
    a(href="") 
        <div class="slide"><img src="./images/logo_lifecell.svg"></div>
    a(href="https://wanna.fashion") 
        <div class="slide"><img src="./images/logo_wanna.svg"></div>
    a(href="https://itrexgroup.com") 
        <div class="slide"><img src="./images/logo_itrex.svg"></div>
     
   </section>
</div>