.nav-item
  +a(href="/about")
    span About
    
    
//.nav-item
  +a(href="/blog") 
    span Blog
  
//.nav-item
  +a(href="/links")
    span Links
   

//.nav-item
  +a(href="/career")
    span цщ
   
    
.nav-item
  +a(href="/contact")
    span Contact
   
    
//.nav-item
  .language
    .language-item
      a(href="#" data-locale="en-US") EN
      
    .middot /
    .language-item
      a(href="#" data-locale="es-ES") CN
    
      
    //- .middot ·
    //- .language-item
    //-   :cs span SK
    //-   :en a(href="#" data-locale="cs-CZ") SK
//.nav-item
  a(href="https://app.vocalls.cz/Account/Login" target="_blank" onclick="GtmPushUI('Navbar', 'Click', 'LogIn')") Log In
